.drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}

.drop-content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.drop-content::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.drop-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.notification-header {
  border-bottom: 1px solid rgb(226, 226, 226);
}

.notification-footer {
  box-shadow: 0px -1px 4px -2px grey;
}
