.notification {
  min-width: 400px;
  min-height: 100px;
  border-bottom: 1px solid rgb(234, 232, 232);
  border-top: 1px solid rgb(234, 232, 232);
}

.notification:hover {
  background-color: rgb(246, 246, 246);
}

.notification .notification-link {
  text-decoration: none;
}

.notification .notification-link:hover {
  text-decoration: underline;
}

.notification .close:hover {
  cursor: pointer;
}
